:host {
  font-family: "BMW Group Condensed", sans-serif;
}

.container-parallax {
  max-width: 960px;
  margin: 0 auto;

}
section.section:last-child {
  margin-bottom: 0;
}
section.section h3 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.section p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

section.section div {
  font-size: 16px;
}

section.section p:last-child {
  margin-bottom: 0;
}
section.section.parallax {
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.section.parallax h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 400px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0;
}
section.section.parallax-1 {
  background-image: url("../assets/images/lebenslauf.jpg");
}

section.section.parallax-2 {
  background-image: url("../assets/images/Laptop.jpg");
}

section.section.parallax-3 {
  background-image: url("../assets/images/Master.JPG");
}

section.section.parallax-4 {
  background-image: url("../assets/images/school2.jpeg");
}

section.section.parallax-5 {
  background-image: url("../assets/images/tools2.jpeg");
}
@media all and (min-width: 600px) {
  section.section h2 {
    font-size: 42px;
  }
  section.section p {
    font-size: 20px;
  }
  section.section.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.section.parallax h1 {
    font-size: 160px;
  }
}


.contact {
  height: 300px !important;
  overflow: hidden !important;

  a {
    color: #996633;
  }
}

.noscrolling {
  overflow: hidden !important;
}

//swiper

html,
body,
.container {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
}

.title {
  font-size: 38px;
  color: #996633;
  font-style: italic;
  font-weight: 800;
}

.timeline {
  height: 600px;
  width: 100%;
  background-color: #fff;
}
.timeline .swiper-container {
  height: 600px;
  width: 100%;
  position: relative;
}
.timeline .swiper-wrapper {
  transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}
.timeline .swiper-slide {
  position: relative;
  color: #fff;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.timeline .swiper-slide::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -115%;
  bottom: -10%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: -230px 0 150px 60vw rgba(0, 0, 0, 0.7);
  border-radius: 100%;
}
.timeline .swiper-slide-content {
    -webkit-transform: translateY(-50%, 0);
            transform: translateY(-50%, 0);
    width: 100%;
    font-size: 11px;
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 100%;
  right: 0;
  top: 13%;
  z-index: 2;
}
.timeline .swiper-slide .timeline-year {
  display: block;
  font-style: italic;
  font-size: 42px;
  margin-bottom: 50px;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
  color: #996633;
  font-weight: 300;
  opacity: 0;
  transition: .1s ease .2s;
}

.timeline .swiper-slide .timeline-logo {
  display: block;
  font-style: italic;
  font-size: 42px;
  margin-bottom: 50px;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
  color: #996633;
  font-weight: 300;
  opacity: 0;
  transition: .1s ease .2s;

  img {
    padding: 30px;
  }
}

.inline-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.timeline .swiper-slide .timeline-title {
  font-weight: 800;
  font-size: 34px;
  margin: 0 0 30px;
  opacity: 0;
  color: gray;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
  transition: .1s ease .2s;
}
.timeline .swiper-slide .timeline-text {
  font-size: 19px;
  display: inline-block;
  width: 280px;
  padding: 10px;
  line-height: 1.5;
  opacity: 0;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
  transition: .1s ease .3s;
}
.timeline .swiper-slide-active .timeline-year {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: .2s ease 1s;
}

.timeline .swiper-slide-active .timeline-logo {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: .2s ease 1s;
}
.timeline .swiper-slide-active .timeline-title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: .2s ease 1.1s;
}
.timeline .swiper-slide-active .timeline-text {
  font-size: 19px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: .2s ease 1.2s;
}
.timeline .swiper-pagination1 {
  right: -50% !important;
  width: 100%;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  z-index: 1;
}
/* .timeline .swiper-pagination1::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
} */
.timeline .swiper-pagination-bullet1 {
  width: auto;
  height: auto;
  text-align: center;
  opacity: 1;
  background: transparent;
  color: #996633 !important;
  margin: 15px 0 !important;
  position: relative;
}
.timeline .swiper-pagination-bullet1::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -32.5px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #996633;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: .1s;
}
.timeline .swiper-pagination-bullet1-active {
  color: #996633;
}
/* .timeline .swiper-pagination-bullet1-active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
} */
.timeline .swiper-button-next1,
.timeline .swiper-button-prev1 {
  //background-size: 20px 20px;
  top: 15%;
  width: 27px;
  height: 44px;
  margin-top: 0;
  z-index: 2;
  transition: .1s;
}
.timeline .swiper-button-prev1 {
  left: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23996633'%2F%3E%3C%2Fsvg%3E");
}
.timeline .swiper-button-prev1:hover {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}
.timeline .swiper-button-next1 {
  right: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23996633'%2F%3E%3C%2Fsvg%3E");
}
.timeline .swiper-button-next1:hover {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}
@media screen and (min-width: 768px) {
  .timeline .swiper-slide::after {
    right: -30%;
    bottom: -8%;
    width: 240px;
    height: 50%;
    box-shadow: -230px 0 150px 50vw rgba(0, 0, 0, 0.7);
  }
  .timeline .swiper-slide-content {
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    font-size: 11px;
    text-align: center;
  }
  .timeline .swiper-slide .timeline-year {
    margin-bottom: 0;
    font-size: 32px;
  }

  .timeline .swiper-slide .timeline-logo {
    margin-bottom: 0;
    font-size: 32px;
  }
  .timeline .swiper-slide .timeline-title {
    font-size: 35px;
    margin: 0;
  }
  .timeline .swiper-pagination {
    display: flex;
  }
  .timeline .swiper-button-prev1 {
    top: auto;
    bottom: 15%;
    //left: auto;
    //right: 15%;
   /*  -webkit-transform: rotate(90deg) translate(0, 10px);
            transform: rotate(90deg) translate(0, 10px); */
  }
  /* .timeline .swiper-button-prev1:hover {
    -webkit-transform: rotate(90deg) translate(-3px, 10px);
            transform: rotate(90deg) translate(-3px, 10px);
  } */
  .timeline .swiper-button-next1 {
    top: auto;
    bottom: 15%;
    //right: 15%;
   /*  -webkit-transform: rotate(90deg) translate(0, 10px);
            transform: rotate(90deg) translate(0, 10px); */
  }
  /* .timeline .swiper-button-next1:hover {
    -webkit-transform: rotate(90deg) translate(3px, 10px);
            transform: rotate(90deg) translate(3px, 10px);
  } */
}
@media screen and (min-width: 1024px) {
  .timeline .swiper-slide::after {
    right: -20%;
    bottom: -12%;
    width: 240px;
    height: 50%;
    box-shadow: -230px 0 150px 39vw rgba(0, 0, 0, 0.7);
  }
  .timeline .swiper-slide-content {
    right: 0;
  }
}

.swiper-button-next1 {
position: absolute;
top: 50%;
width: 27px;
height: 44px;
margin-top: -22px;
z-index: 10;
cursor: pointer;
background-size: 27px 44px;
background-position: center;
background-repeat: no-repeat;
}

.swiper-button-prev1 {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  }

.swiper-pagination1 {
  position: absolute;
  width: 27px;
  width: 100%;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-pagination-skills {
  position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
    bottom: 10px;
    left: 0;
    width: 100%;
    color: brown;

}

.bullet-color {
background-color: green !important;
}

.swiper-slide-content .skillImg {
  width: 70px;
}